
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/_MyLayoutFavourites.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        p {
            font-size:32px;
            font-family: 'Agency FB' ;
            color: white;
        }
        h2 {
            font-family: 'Agency FB';
            font-size: 40px;
            color: white;
        }
        div .border {
            border: 2px solid black;
            margin: 80px 0px;
            background-color: black;
        }
        h1 {
            font-size: 50px;
        }
    </style>
</head>
<body>
    <br />
    <center><h2 style="color:black"><u>Favourite Comic Books</u></h2></center>

    <div class="border">
        <center><h2><u>Watchmen</u></h2></center>
        <center><img src="~/Pictures/comic1.PNG" width="700" height="400" /></center>
        <center>
            <p>
                Perhaps Moore's most iconic work in comics came in his Watchmen series.<br />
                Along with artists Dave Gibbons and John Higgins, the series functioned <br />
                like a dark satirization of the superhero genre by portraying a group of <br />
                morally-ambiguous "heroes" that are clearly -- and dangerously -- unstable <br />
                in their respective ways. The comic also incorporated (for its time) more <br />
                contemporary elements like the Vietnam War and the Cold War. Doctor Manhatten, <br />
                for instance, can be easily seen as the physical manifestation of paranoia over <br />
                nuclear war breaking out. Along with the likes of The Sandman and The Dark Knight Returns, <br />
                Watchmen was one of the first few comic books of the time to rank on The New York <br />
                Times Best Seller list.
            </p>
        </center>
    </div>

    <div class="border">
        <center><h2><u>Batman: The Dark Knight Returns</u></h2></center>
        <center><img src="~/Pictures/comic2.PNG" width="700" height="400" /></center>
        <center>
            <p>
                Arguably the most popular Elseworlds Batman story is Miller's The Dark Knight Returns.<br />
                While an unquestionable classic to most, some of its themes have been unfortunately <br />
                misconstrued and subsequently glorified in the modern day. Despite this, it remains <br />
                a gripping action and politically dystopian-set Batman arc portraying a more cynical, <br />
                jaded version of the hero after the fall of most of its heroes.
            </p>
        </center>
    </div>

    <div class="border">
        <center><h2><u>The Sandman</u></h2></center>
        <center><img src="~/Pictures/comic3.PNG" width="700" height="400" /></center>
        <center>
            <p>
                The most iconic Vertigo series that DC published was its flagship The Sandman, <br />
                written by the great Neil Gaiman and illustrated by numerous artists. The story <br />
                revolves around Dream, one of the seven Endless, finding himself captured by <br />
                cultists and forced to acknowledge that even entities that are even stronger <br />
                than DC's gods such as them need to accept inevitable change. <br />
                <br />
                The Sandman is celebrated as Gaiman's magnum opus and praised for its ethereal <br />
                and surreal personifications of metaphysical concepts. The Endless are these <br />
                personifications, as they embody some of the most powerful forces that make up the universe.
            </p>
        </center>
    </div>

    <div class="border">
        <center><h2><u>Batman: Year One</u></h2></center>
        <center><img src="~/Pictures/comic 4.PNG" width="700" height="400" /></center>
        <center>
            <p>
                Origin stories can occasionally feel like a dime a dozen and have understandably <br />
                worn out fans' patience over the years. However, Miller and David Mazzucchelli's <br />
                Year One is among the most definitive comic book origins. The late Dennis O'Neil <br />
                started Batman's exceptional noir reinvention, and Year One was one of the comics <br />
                that brought this evolution to a crescendo. <br />
                                                            <br />
                Down to the pulp-inspired artwork, it's a rich and atmospheric crime drama that <br />
                shows fans how Bruce Wayne came to be Gotham City's watchful protector. Likewise, <br />
                it served as a great parallel origin story for soon-to-be Commissioner Gordon alongside Batman, <br />
                depicting the two as flawed characters that are ultimately trying to do the best they can to <br />
                bring justice to Gotham's systematic corruption.
            </p>
        </center>
    </div>

</body>
</html>



